<li><a href="#">Facebook</a></li>
<li role="separator" class="divider"></li>
<form action="{{ path('fos_user_security_check') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <li>
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Nom d'utilisateur" />
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="password">Nom d'utilisateur</label>
            <input type="password" id="password" name="_password" class="form-control"  placeholder="Mot de passe" />
        </div>

    </li>
    <input type="hidden" name="_target_path" value="" />
    <li>
        <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">Connecter</button>
    </li>
</form>